.site-topbar {
  background-color: #333;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  color: #b0b0b0;
}
.site-topbar .topbar-nav a {
  color: #b0b0b0;
}
.site-topbar .topbar-nav > ul > li {
  float: left;
  margin-right: 15px;
}
.site-topbar .topbar-nav > ul > li.submenu {
  position: relative;
  padding-right: 14px;
}
/* 箭头 */
.site-topbar .topbar-nav > ul > li.submenu::after {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  content: '';
  width: 5px;
  height: 5px;
  border-right: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  transform: translateY(-4px) rotate(45deg);
  /* 箭头动画 */
  transition: transform 0.3s ease 0s;
}
/* 鼠标滑过 旋转 */
.site-topbar .topbar-nav > ul > li.submenu:hover::after {
  border-color: #fff;
  transform: translateY(0px) rotate(225deg);
}

/* 实心三角形 */
.site-topbar .topbar-nav > ul > li.active::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  display: none;
  content: '';
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #fff;
}
.site-topbar .topbar-nav > ul > li.active:hover::before {
  display: block;
}
/* 云服务下拉列表 */
.site-topbar .submenu-list {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -52.5px;
  width: 105px;
  /* height: 150px; */
  background-color: #fff;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.3);
  /* 动画 */
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease 0s;
  z-index: 999;
}
.site-topbar .topbar-nav > ul > li.submenu:hover .submenu-list {
  height: 150px;
}
.site-topbar .submenu-list > ul > li img {
  margin: 0 3px 0 6px;
  vertical-align: -3px;
}
.site-topbar .submenu-list > ul > li {
  line-height: 30px;
}
.site-topbar .topbar-nav .submenu-list > ul > li > a:hover {
  color: #ff6a00;
}

/* 二维码app下载 */
.site-topbar .topbar-nav > ul > li.submenu .appcode {
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -62px;
  width: 124px;
  height: 148px;
  background-color: #fff;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 14px;
  line-height: 1;
  color: #333;
  /* 动画 */
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease 0s;
  z-index: 999;
}
.site-topbar .topbar-nav > ul > li.submenu:hover .appcode {
  height: 148px;
}
.site-topbar .topbar-nav > ul > li.submenu .appcode img {
  display: block;
  width: 87px;
  height: 87px;
  margin: 17px auto 14px;
}
.site-topbar .topbar-info > ul > li a {
  color: #b0b0b0;
}
.site-topbar .topbar-info > ul > li {
  color: #b0b0b0;
  float: right;
  margin-right: 13px;
}
.site-topbar .topbar-cart {
  float: right;
  position: relative;
}
.site-topbar .topbar-cart .cart-mini {
  color: #b0b0b0;
  display: block;
  padding: 0 24px;
  background-color: #424242;
  height: 40px;
}
.site-topbar .topbar-cart .cart-mini em {
  vertical-align: -1px;
  font-size: 16px;
}
.site-topbar .topbar-cart .cart-mini:hover {
  background-color: #fff;
  color: #ff6a00;
}
/* 购物车下拉 */
.site-topbar .topbar-cart .cart-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  width: 316px;
  /* height: 100px; */
  color: #333;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.05);
  text-align: center;
  padding: 25px 0;
  /* 动画 */
  height: 0px;
  padding: 0;
  overflow: hidden;
  transition: height 0.3s ease 0s, padding 0.3s ease 0s;
  z-index: 999;
}
.site-topbar .topbar-cart:hover .cart-menu {
  height: 50px;
  padding: 25px 0;
}
.site-topbar .topbar-nav > ul > li a:hover,
.site-topbar .topbar-info > ul > li > a:hover {
  color: #fff;
}
/* site-header start */
.site-header {
  height: 100px;
}
.site-header .header-logo {
  float: left;
  margin-top: 23px;
}
.site-header .header-logo a:active img {
  transform: scale(0.9);
}
.site-header .header-nav {
  float: left;
}
.site-header .header-nav .nav-list {
  margin-left: 184px;
}
.site-header .header-nav .nav-list > li {
  float: left;
  padding: 38px 10px;
}
.site-header .header-nav .nav-list > li > a {
  font-size: 16px;
  color: #333;
}
.site-header .header-nav .nav-list > li > a:hover {
  color: #ff6a00;
}
/* 搜索框 */
.site-header .header-search {
  width: 296px;
  float: right;
  background-color: wheat;
  margin-top: 25px;
}
.site-header .header-search .search-text {
  height: 52px;
  width: 244px;
  border: 1px solid #e0e0e0;
  border-right: none;
  color: #333;
  line-height: 50px;
  padding: 0 11px;
  float: left;
  box-sizing: border-box;
}
.site-header .header-search .search-btn {
  display: block;
  width: 52px;
  height: 52px;
  background-color: #fff;
  float: left;
  border: 1px solid #e0e0e0;
  /* border-left: none; */
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  color: #aaaaaa;
}
.site-header .header-search .search-btn:hover {
  background-color: #ff6a00;
  color: #fff;
  border-color: #ff6a00;
}
.site-header .header-search:hover .search-text,
.site-header .header-search:hover .search-btn {
  border-color: #bebebe;
}
/* 鼠标点击获取焦点，边框样式停留 */
.site-header .header-search .search-text:focus,
.site-header .header-search .search-text:focus + .search-btn {
  border-color: #ff6a00;
}
/* header end */

/* focus-slider start */
.focus-slider {
  position: relative;
}
.focus-slider .category{
  position: absolute;
  top: 0;
  left: 0;
  width: 234px;
  height: 460px;
  background-color: #3F3D3D;
  padding-top: 19px;
  box-sizing: border-box;
  z-index: 2;
}
.focus-slider .category li {
  line-height: 42px;
}
.focus-slider .category a {
  display: block;
  padding: 0px 23px 0px 30px;
  color: #fff;
}
.focus-slider .category a:hover {
  background-color: #ff6a00;
}
.focus-slider .category a em {
  float: right;
}
.category-list {
  position: absolute;
  top: 0;
  left: 246px;
  width: 992px;
  height: 460px;
  background-color: thistle;
  display: none;
  text-align: center;
  font-size: 40px;
  line-height: 460px;
  color: #333;
}
.focus-slider .category li:hover .category-list {
  display: block;
}
/* banner 轮播 */
.focus-slider .swiper {
  width: 1226px;
  height: 460px;
  background-color: tomato;
}
.swiper-button-prev {
  left: 254px;
  color: #aaaaaa;
  font-size: 32px;  
}
.swiper-button-prev:hover {
  color: #fff;
}
.swiper-button-prev::after {
  color:transparent;
}
.swiper-button-next {
  right: 0;
  color: #aaaaaa;
  font-size: 32px;
}
.swiper-button-next:hover {
  color: #fff;
}
.swiper-button-next::after {
  color: transparent;
}

/* pagination */
.swiper-pagination {
  text-align: right;
  padding-right: 34px;
  box-sizing: border-box;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border: 2px solid #6d6d6d;
  border-radius: 50%;
  background-color: transparent;
}
.swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  border: 2px solid rgb(170, 170, 170);
  border-radius: 50%;
  background-color: transparent;
}

/* end focus-slider */

/* recommend start */
.recommend {
  width: 100%;
  height: 624px;
  background-color: #F7F7F7;
  margin: 26px 0 34px 0;
  overflow: hidden;
  padding-bottom: 36px;
}
.recommend .index-banner {
  width: 1226px;
  height: 120px;
  margin: 26px auto 48px;
}

.music-content .m-title {
  text-align: center;
  font-size: 32px;
  color: #333;

}

.music-content .m-tab {
  text-align: center;
  padding: 34px 0 36px;
}
.music-content .m-tab a {
  font-size: 16px;
  color: #333;
  margin: 0 23px;
}
.music-content .m-tab a.active {
  color: #31C27C;
}

.music-item .m-list li{
  width: 224px;
  margin-right: 26.5px;
  float: left;
}
.music-item .m-list li:last-child {
  margin-right: 0;
}
.music-item .m-list li > a {
  position: relative;
  width: 224px;
  height: 224px;
  display: block;
  overflow: hidden;
}

.music-list-title {
  margin: 14px 0 6px;
  font-size: 14px;
}
.music-list-title a {
  color: #333;
}
.music-list-title a:hover {
  color: #31C27C;
}
.music-item .m-list li span {
  color: #999;
}

/* 阴影 */
.img-mask {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 224px;
  height: 224px;
  background-color: rgba(0, 0, 0, 0);
  z-index: 0;
  /* 动画 */
  transition: all ease 0.5s;
}
.music-item .m-list li > a:hover .img-mask{
  background-color: rgba(0, 0, 0, 0.3);
}

/* 播放按钮 */
.m-icon-play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -32.5px 0 0 -32.5px;
  display: block;
  width: 65px;
  height: 65px;
  background-image: url(../images/music-play.png);
  z-index: 1;
  opacity: 0;
  transform: scale(0.2);
  transition: opacity ease 0.5s, transform ease 0.5s;
}
.music-item .m-list li > a:hover .m-icon-play {
  opacity: 1;
  transform: scale(1);
}

/* 图片放大 */
.music-item .m-list li > a > img {
  transition: transform ease 0.5s;
}
.music-item .m-list li > a:hover img {
  transform: scale(1.5);
}
/* 默认隐藏 */
.music-item .m-list {
  display: none;
}
.music-item  ul.current {
  display: block;
}
/* end recommend */

/* playground start */
/* playground-header */
.playground-header .header-title {
  float: left;
  width: 826px;
}
.playground-header .more-product {
  float: right;
}
.playground-header .more-product a {
  display: block;
  width: 118px;
  height: 42px;
  border: 1px solid #BABABA;
  opacity: 0.35;
  border-radius: 20px;
  line-height: 42px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 12px;
}
.playground-header .more-product a:hover {
  border-color: #000;
  color: #000;
}
.playground-header .header-title h2{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}
.playground-header .header-title p {
  line-height: 21px;
}

/* playground-content */
.playground-content {
  margin-top: 32px;
  margin-bottom: 40px;
}
.playground-content .con-l {
  position: relative;
  float: left;
  width: 610px;
  height: 715px;
  background-image: url(../images/playground-1.png);
}
.playground-content .con-m, .con-r {
  float: left;
  padding-left: 13px;
  width: 295px;
  height: 715px;
}
.playground-content .con-m .con-m-1{
  position: relative;
  width: 295px;
  height: 295px;
  margin-bottom: 20px;
  background-image: url(../images/playground-2.png);
  background-size: cover;
}
.playground-content .con-m .con-m-2 {
  position: relative;
  width: 295px;
  height: 400px;
  background-image: url(../images/playground-3.png);
  background-size: cover;
}
.playground-content .con-r .con-r-1 {
  width: 295px;
  height: 400px;
  margin-bottom: 20px;
  background-image: url(../images/playground-5.png);
  background-size: cover;

}
.playground-content .con-r .con-r-2 {
  width: 295px;
  height: 295px;
  background-image: url(../images/playground-4.png);
  background-size: cover;

}

/* 小圆点 */
.playground-dot {
  position: absolute;
  display: none;
  /* width: 32px; */
  width: 42px;
  height: 32px;
  border-radius: 50%;
  box-sizing: border-box;
  color: #333;
}

.playground-content .con-l:hover .playground-dot, 
.playground-content .con-m-1:hover .playground-dot, 
.playground-content .con-m-2:hover .playground-dot {
  display: block;
}

.playground-dot-1{
  top: 249px;
  left: 248px;
}
.playground-dot-2 {
  top: 359px;
  left: 128px;
}
.playground-dot-3 {
  top: 460px;
  left: 71px;
}
.playground-dot-4 {
  top: 152px;
  left: 52px;
}
.playground-dot-5 {
  top: 284px;
  left: 80px;
}
/* 外圈圆 */
.playground-dot::before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: transform ease 0.5s;
}
.playground-dot:hover::before {
  transform: scale(0.9);
  box-shadow: 0 0 5px #fff;
}
/* 内圈圆 */
.playground-dot::after {
  position: absolute;
  top: 10px;
  left: 10px;
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  transition: transform ease 0.5s;
}
.playground-dot:hover::after {
  transform: scale(0.7);
}

.playground-dot-tips {
  position: absolute;
  top: -30px;
  left: 40px;
  width: 170px;
  background-color: #fff;
  padding: 10px;
  display: none;
}
.playground-dot-tips h3{
  font-weight: bold;
}
.playground-dot-tips span {
  font-size: 24px;
  font-weight: bold;
}
.playground-dot-tips span>i {
  font-size: 12px;
  font-style: italic;
}
.playground-dot:hover .playground-dot-tips {
  display: block;
}
/* end playground */

/* videos start */
.videos {
  background-color: #F8F8F8;
  padding-top: 34px;
  padding-bottom: 40px;
}
.videos h2 {
  font-size: 28px;
  text-align: center;
  color: #000;
  font-weight: bold;
  margin-bottom: 32px;
}
.videos ul li {
  float: left;
  margin-right: 6px;
  margin-bottom: 10px;
}
.videos ul li:nth-child(4n) {
  margin-right: 0;
}
.videos ul li a {
  position: relative;
  display: block;
  background-color: #fff;
  color: #333;
  transition: box-shadow ease 0.5s;
}
.videos ul li a:hover {
  box-shadow: 5px 5px 10px #ddd;
}
.videos ul li a img {
  display: block;
}
.videos ul li p {
  font-size: 16px;
  height: 55px;
  line-height: 55px;
  text-align: center;
}
/* 视频播放按钮 */
.video-play {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 70px;
  right: 13px;
  background-image: url(../images/video-play.png);
  background-size: cover;
}

/* end videos */
/* v-mask start */
.v-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: none;
}
.v-mask .mask-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.v-mask .mask-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-color: #BABABA;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  font-size: 18px;
}
.v-mask .mask-close:hover {
  background-color: #fff;
}
/* end v-mask */